body { 
    text-align: center; 
    margin-top: 50px; 
    font-family: Arial; 
}
        #count { 
            font-size: 50px; 
            color: blue; 
        }
        button { 
            padding: 10px 20px; 
            cursor: pointer; 
        }